{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "safari >= 8"
        ],
        "node": "8.11.3"
      }
    }]
  ],
  "plugins": [
    "transform-exponentiation-operator",
    "transform-async-to-generator",
    "transform-async-generator-functions",
    "transform-do-expressions",
    "transform-object-rest-spread",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ],
    "transform-function-bind",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    "tailcall-optimization"
  ]
}
