{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb-base/legacy"
  ],
  "rules": {
    "no-console": 0,
    "no-nested-ternary": 0,
    "no-plusplus": 0,
    "eqeqeq": 0,
    "no-underscore-dangle": 0,
    "prefer-rest-params": 0,
    "prefer-arrow-callback": 0,
    "comma-dangle": ["error", "always-multiline"]
  }
}
